*,
::after,
::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #212023;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* Remover la especificidad */
:where(.nav ul) {
    padding: 0;
    list-style: none;
}

.nav {
    --icon-menu-button: url("./assets/menu.svg");
    --opacity-menu: 0;
    --pointer-events-menu: none;


    margin: 0 auto;
    width: min(1200px, 90%);
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav:has(.nav__menu-input:checked){
    --icon-menu-button: url("./assets/close.svg");
    --opacity-menu: 1;
    --pointer-events-menu: unset;
}

.nav__logo{
    width: max(20%, 140px);
}

.nav__logo-img {
    display: block;
    width: 100%;
}

.nav__list {
    opacity: var(--opacity-menu);
    pointer-events: var(--pointer-events-menu);

    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    padding: 0 5%;
    margin: 0 auto;

    display: grid;
    grid-auto-rows: max-content;
    gap: 1rem;

    transition: opacity .4s;
}

.nav__button {
    width: 40px;
    height: 40px;
    border: none;

    background-color: transparent;
    background-size: cover;
    background-position: center;
    background-image: var(--icon-menu-button);

    transition: background-image .3s;
}

.nav__button input{
    display: none;
}

.nav__element {
    display: grid;
    width: 100%;
}

.nav__dropdown{
    --rows-grid-menu:0fr;
    --rotate-arrow: 0deg;

    grid-template-rows: max-content var(--rows-grid-menu);
    transition: grid-template-rows .4s;
}

.nav__dropdown:has(:checked){
    --rows-grid-menu:1fr;
    --rotate-arrow: 90deg;
}

.nav__link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 300;

    display: block;
    width: max-content;

    padding: 0 2rem;

}

.nav__link--parent {
    padding: 0;
    font-size: 1.5rem;
    font-weight: 400;
    width: 100%;
    display: block;
}

.nav__arrow {
    transform: rotate(var(--rotate-arrow));
    transition: .3s transform;
}

.nav__link--parent:has(.nav__arrow) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & input {
        display: none;
    }
}

.nav__parent--submenu {
    overflow: hidden;
}

.nav__submenu {
    width: 95%;
    margin-left: auto;
    overflow: hidden;
    display: grid;
    gap: 1.3rem;
}

.nav__submenu::before, .nav__submenu::after{
    content: "";
    height: 10px;
}

@media (width > 768px) {

    .nav{
        --opacity-menu: 1;
        --pointer-events-menu: unset;
    }

    .nav__list {
        position: static;
        width: max-content;
        margin: 0;
        padding: 0;
        grid-auto-flow: column;
        gap: 2rem;
    }

    .nav__button {
        display: none;
    }

    .nav__element {
        position: relative;
    }


    .nav__parent--submenu {
        overflow: hidden;
        background-color: black;
        position: absolute;
        top: 60px;
        left: 0;

        display: grid;
        grid-auto-columns: max-content;
        grid-template-rows: var(--rows-grid-menu);
        transition: grid-template-rows .3s;
    }

    .nav__submenu {
        overflow: hidden;
        width: max-content;
    }
}