*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Filtro Botones */

.filters__buttons{
    margin: 30px 0;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
}

.filters__label{
    padding: 20px 40px;
    border-radius: 10px;
    border: 2px solid deepskyblue;
    transition: .3s background-color;
    cursor: pointer;
}

.filters__label:has(:checked){
    background-color: deepskyblue;
    color: white;
    font-weight: bold;
}

.filters__label input{
    display: none;
}

/* Galeria de imágenes */

.gallery{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
}

.gallery__img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Filtros */

.filters{
    padding: 80px 0;
    width: min(90%, 1200px);
    margin: 0 auto;

    --perro: block;
    --pantera: block;
    --gato: block;
}

/* Mostrando contenido depende de la opción */

.filters:has([id="perro"]:checked){
    --perro: block;
    --pantera: none;
    --gato: none;
}

.filters:has([id="pantera"]:checked){
    --pantera: block;
    --perro: none;
    --gato: none;
}

.filters:has([id="gato"]:checked){
    --perro: none;
    --pantera: none;
    --gato: block;
}

.filters__title{
    font-size: 3rem;
}

/* Agregando a cada imágen una variable */

[data-perro]{
    display: var(--perro);
}

[data-pantera]{
    display: var(--pantera);
}

[data-gato]{
    display: var(--gato);
}